body {
  background-color: white;
  font-family: 'Teddy Bear', sans-serif;
}
h1{
  color: brown;
}
h2 {
  color: orange;
}
a{
  color: white;
}
img{
  width: 20hv;
  margin-left: 25px;
}
a:hover{
  color: black;
}
.big_txt {
  font-size: 1.1  rem;
}
ul{
  list-style-type: square ;
}

